<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">

    <title>MPC</title>
</head>
<body>
    <header>
        <div>
            <img src="images/este_si3.png" width="360" alt="LogoMPC">
        </div>
        <div>
            <h1>Bienvenidos a MPC</h1>
            <i class="fas fa-user-circle"></i>
            <i class="fas fa-shopping-cart"></i>
        </div>
        

        <div class="form" action="#" method="GET">
            <div">Buscar productos</div>
            <div"><i class="fa fa-search"></i></div>
        </div>
        <div>
            <ul>
                <li>Productos</li>
                <li>Encontra tu equipo</li>
                <li>Arma tu pc</li>
                <li>Mi cuenta</li>
                <li>Ayuda</li>
            </ul>
        </div>

    </header>
    <main>
        <img src="images/pc_empresa.jpg" width="360" alt="pc_empresa">
        <img src="images/NVIDIA.jpg" width="360" alt="pc_empresa">
    </main>

    <footer>
        <div id="qrcode">
            <img src="images/este_si3.png" width="360" alt="LogoMPC">
            <img src="https://www.codigos-qr.com/qr/php/qr_img.php?d=https%3A%2F%2Fwww.youtube.com%2Fwatch%3Fv%3DIpLO91jzlH4&s=6&e=m" alt="Generador de Códigos QR Codes"/>
            
        </div>
        <div>
            <h5>NOSOTROS</h5>
            <ul>
                <li>¿Quienes somos?</li>
                <li>Políticas de privacidad</li>
                <li>Terminos y condiciones</li>
                <li>Trabaja con nosotros</li>
            </ul>
        </div>
        <div>
            <h5>AYUDA</h5>
            <ul>
                <li>Soporte Técnico</li>
                <li>Cambios y Devoluciones</li>
                <li>Medios de Pagos Habilitados</li>
                <li>Preguntas frecuentes</li>
                <li>Formulario de arrepentimiento</li>
            </ul>
        </div>
        <div>
            <h5>Inscribite</h5>
            <div class="form" action="#" method="GET">
                <div">Buscar productos</div>
            </div>
        </div>
        <div>
            <h5>CONTACTO</h5>
            <ul>
                <li>GMAIL</li>
                <li>TELEFONO</li>
                <li>CELULAR</li>
                <i class="fab fa-whatsapp"></i>
                <i class="fab fa-facebook"></i>
                <i class="fab fa-instagram"></i>
            </ul>
        </div>
    </footer>
</body>
</html>